@media screen and (max-width: 768px) {
    .menu {
      font-size: 13px;
      width: 80%;
      margin: 6px;
      align-items: center; }
    .header_image {
      width: fit-content;
      align-items: center; }
    header {
      display: grid;
      grid-template-rows: 1fr 2fr;
      justify-items: center; }
    .primerParrafo {
      width: 85%;
      text-align: justify;
      justify-content: center;
      margin: 40px;
      font-size: .9rem; }
    h4 {
      width: 90%;
      text-align: center;
      justify-content: center;
      margin: 30px;
      font-size: 2rem; }
    .platillosInside {
      display: flex;
      flex-direction: column; }
    .platillosImagen {
      margin-left: 25px;
      width: 90%; } }
  