@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap');

$tipografia-general: 'Roboto', sans-serif;
$tipografia-general2: 'Poppins', sans-serif;

$color: (
    gray1: #707170,
    gray2: #555655,
    gray3: #676867,
    green1: #2c675f,
    green2: #3b8a8a,
    green3: #569e94
);